{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'songs/styles.css' %}">
    <link rel="icon" href="{% static 'images/foxv1.png' %}" type="image/png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Log In{% endblock %}</title>
</head>
<body class="page-layout log-layout">
    <h1>Log In</h1>

        <form method="post">
            {% csrf_token %}

            <div class="form-group">
                <label>Username</label>
                {{ form.username }}
            </div>

            <div class="form-group">
                <label>Password</label>
                {{ form.password }}
            </div>

            <button type="submit">Log In</button>
        </form>
    <p>Need an account? <a href="/signup/" class = "clickcolor">Sign up</a></p>
</body>
</html>